body {
  background-color: #f5f5f5; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

header {
  position: fixed;
  z-index: 9999;
  width: 100%; }

.nav {
  padding-top: 5em;
  width: 100%;
  display: flex; }
  .nav img {
    padding-left: 10vw; }
  .nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin-right: 10%; }
    .nav ul li {
      margin: 0 3% 0 5%;
      font-family: 'PT Sans', sans-serif; }
      .nav ul li a {
        text-decoration: none;
        color: white; }
      .nav ul li a:hover {
        border-bottom: 2px solid white;
        padding-bottom: 5px; }

.home {
  background-image: url("../img/bg.jpg");
  height: 80vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }
  .home:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(45deg, #0169b4 0%, #a72b8f 100%);
    opacity: .9;
    height: 80vh; }
  .home h1 {
    position: absolute;
    top: 35%;
    left: 20%;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 48px;
    font-weight: 300;
    line-height: 75px;
    color: white; }

.features {
  background-color: #f5f5f5;
  margin-bottom: 5em; }
  .features article {
    height: 100%;
    width: 70%;
    justify-content: space-between; }
  .features .feature {
    text-align: center;
    background-color: #ffffff;
    width: 30%;
    padding: 2em 0 2em 0; }
    .features .feature h1 {
      color: #666666;
      font-family: Raleway;
      font-size: 30px;
      font-weight: 700;
      line-height: 34px;
      padding: 1em; }
    .features .feature p {
      color: #878787;
      font-family: Raleway;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px; }
  .features .about {
    display: flex;
    justify-content: space-around;
    margin-top: 10em; }
    .features .about .features__about {
      width: 45%; }
      .features .about .features__about h1 {
        color: #0169b4;
        font-family: Raleway;
        font-size: 50px;
        font-weight: 500;
        letter-spacing: 1.25px;
        padding-bottom: 1em; }
      .features .about .features__about p {
        color: #666666;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px; }
    .features .about img {
      width: 50%; }

.btnRead {
  border-radius: 24px;
  border: 2px solid #cccccc;
  background-color: #ffffff;
  color: #999999;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
  width: 170px;
  height: 48px;
  margin-top: 2em;
  cursor: pointer; }
  .btnRead:hover {
    box-shadow: 0 0 14px 2px rgba(1, 105, 180, 0.26);
    background-color: #0169b4;
    color: white; }

.projects h1 {
  color: #0169b4;
  font-family: Raleway;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 1.25px;
  margin-left: 14%;
  padding-bottom: 1.5em;
  padding-top: 2em; }

.projects img {
  width: 25%;
  height: 350px; }

.solutions {
  margin: 0 14% 0 14%; }
  .solutions h1 {
    color: #0169b4;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1.25px;
    padding-top: 2em; }
  .solutions .container {
    justify-content: space-between; }
  .solutions .solutions__text {
    width: 35%; }
  .solutions article {
    padding-bottom: 5em; }
    .solutions article h2 {
      font-family: Raleway;
      color: #333333;
      font-size: 30px;
      line-height: 33px;
      padding: 2em 0 .2em 0; }
    .solutions article p {
      font-family: Raleway;
      color: #878787;
      font-size: 18px;
      font-weight: 500;
      line-height: 42.04px; }

.blog {
  background-color: white;
  padding-bottom: 5em; }
  .blog div {
    margin: 0 0 0 14%;
    display: flex;
    justify-content: space-between; }
    .blog div img {
      width: 100%; }
    .blog div article {
      width: 50%; }
      .blog div article h1 {
        color: #0066cc;
        font-family: Raleway;
        font-size: 50px;
        font-weight: 500;
        letter-spacing: 1.25px;
        padding-bottom: 1em;
        padding-top: 2em; }
      .blog div article p {
        color: #878787;
        font-size: 18px;
        font-weight: 500;
        font-family: Raleway;
        font-weight: 500;
        line-height: 42px; }
        .blog div article p span {
          font-family: "Raleway Medium";
          font-size: 45px;
          font-weight: 700; }
      .blog div article h2 {
        color: #333333;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 600;
        padding-top: 2em; }
      .blog div article input {
        float: right; }

.news article {
  margin: 0 14% 0 14%; }
  .news article h1 {
    color: #0066cc;
    font-family: Raleway;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1.25px;
    padding-top: 2em; }
  .news article .news__items {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5em; }
    .news article .news__items .news__text {
      width: 33%;
      align-items: flex-start;
      justify-content: flex-start;
      padding-top: 5em; }
      .news article .news__items .news__text h2 {
        color: #cccccc;
        font-family: Raleway;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 60px;
        padding-right: 1vw; }
        .news article .news__items .news__text h2 span {
          font-size: 22px; }
      .news article .news__items .news__text h3 {
        color: #333333;
        font-family: "Raleway - Semi Bold";
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.36px;
        line-height: 36px; }
      .news article .news__items .news__text p {
        width: 88%;
        color: #878787;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        padding-top: 1em; }

.contact {
  background-image: linear-gradient(45deg, #0169b4 0%, #a72b8f 100%);
  height: 100%; }
  .contact .contact__items {
    padding-top: 5em; }
    .contact .contact__items img {
      border: 1.5px solid white;
      border-radius: 50%;
      padding: 2em;
      width: 15px;
      height: 20px; }
  .contact h1 {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    padding: 1em; }
  .contact .contact__icons img {
    margin: 5em; }
  .contact .btn {
    height: 50px;
    width: 100px;
    background-color: #ffffff;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    position: relative;
    left: 50%;
    transform: translateX(-50px); }
    .contact .btn a {
      font-size: 2em;
      color: #a72b8f;
      text-decoration: none; }
