@media (max-width: 900px) {
  .home h1 {
    font-size: 6vw;
    line-height: 7vw; }
  .features article .feature {
    width: 100%; }
  .features article .about img {
    padding: 5em 0 0 0;
    min-width: 100%; }
  .features article .about .features__about {
    width: 100%; }
  .solutions {
    margin-bottom: 5em; }
    .solutions .solutions__text {
      width: 100%; }
  .projects img {
    width: 100%;
    max-height: 40%; }
  .blog div {
    margin: 0 0 0 14%; }
    .blog div article {
      width: 100%; }
  .blog img {
    display: none; }
  .news article .news__items .news__text {
    width: 100%; }
  .contact .contact__items {
    width: 50%;
    font-size: 50%; }
  .contact .contact__icons {
    margin-top: 2em; }
    .contact .contact__icons img {
      margin: 1em; } }
