$font-ral: Raleway;
$font-mon: Montserrat;

body {
    background-color: #f5f5f5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header {
    position: fixed;
    z-index: 9999;
    width: 100%;
}

.nav {
    padding-top: 5em;
    width: 100%;
    display: flex;

    img {
        padding-left: 10vw;
    }

    ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
        margin-right: 10%;

        li {
            margin: 0 3% 0 5%;
            font-family: 'PT Sans', sans-serif;


            a {
                text-decoration: none;
                color: white;
            }

            a:hover {
                border-bottom: 2px solid white;
                padding-bottom: 5px;
            }
        }
    }
}

//Section Home
.home {
    background-image: url("../img/bg.jpg");
    height: 80vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(45deg, #0169b4 0%, #a72b8f 100%);
        opacity: .9;
        height: 80vh;
    }

    h1 {
        position: absolute;
        top: 35%;
        left: 20%;
        text-transform: uppercase;
        font-family: $font-ral;
        font-size: 48px;
        font-weight: 300;
        line-height: 75px;
        color: white;
    }
}

.features {
    background-color: #f5f5f5;
    margin-bottom: 12em;

    article {
        height: 100%;
        width: 70%;
        justify-content: space-between;
    }


    .feature {
        text-align: center;
        background-color: #ffffff;
        width: 30%;
        padding: 2em 0 2em 0;

        h1 {
            color: #666666;
            font-family: $font-ral;
            font-size: 30px;
            font-weight: 700;
            line-height: 34px;
            padding: 1em;
        }

        p {
            color: #878787;
            font-family: $font-ral;
            font-size: 18px;
            font-weight: 500;
            line-height: 30px;

        }
    }

    .about {
        display: flex;
        justify-content: space-around;
        margin-top: 10em;

        .features__about {
            width: 50%;

            h1 {
                color: #0169b4;
                font-family: $font-ral;
                font-size: 50px;
                font-weight: 500;
                letter-spacing: 1.25px;
                padding-bottom: 1em;
            }

            p {
                color: #666666;
                font-family: $font-ral;
                font-size: 18px;
                font-weight: 500;
                line-height: 30px;
            }
        }

        img {
            width: 50%;
        }
    }

}

.btnRead {
    border-radius: 24px;
    border: 2px solid #cccccc;
    background-color: #ffffff;
    color: #999999;
    font-family: $font-ral;
    font-size: 18px;
    font-weight: 600;
    width: 170px;
    height: 48px;
    margin-top: 2em;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 14px 2px rgba(1, 105, 180, 0.26);
        background-color: #0169b4;
        color: white;
    }
}


//Section Projects
.projects {

    h1 {
        color: #0169b4;
        font-family: $font-ral;
        font-size: 50px;
        font-weight: 500;
        letter-spacing: 1.25px;
        margin-left: 14%;
        padding-bottom: 1.5em;
    }

    img {
        width: 25%;
        height: 350px;
    }
}

//Section Solutions 
.solutions {
    margin: 5% 14% 2% 14%;


    h1 {
        color: #0169b4;
        font-family: $font-mon;
        font-size: 50px;
        font-weight: 500;
        letter-spacing: 1.25px;
    }

    .container {
        justify-content: space-between;
    }

    .solutions__text {
        width: 35%;
    }

    article {
        h2 {
            font-family: $font-ral;
            color: #333333;
            font-size: 30px;
            line-height: 26.03px;
            padding: 2em 0 .2em 0;

        }

        p {
            font-family: $font-ral;
            color: #878787;
            font-size: 18px;
            font-weight: 500;
            line-height: 42.04px;
        }
    }
}

//Section Blog 
.blog {
    background-color: white;

    div {
        margin: 0 0 2% 14%;
        display: flex;
        justify-content: space-between;

        img {
            width: 100%;
        }

        article {
            width: 50%;

            h1 {
                color: #0066cc;
                font-family: $font-ral;
                font-size: 50px;
                font-weight: 500;
                letter-spacing: 1.25px;
                padding-bottom: 1.8em;
                padding-top: 2em;
            }

            p {
                color: #878787;
                font-size: 18px;
                font-weight: 500;
                font-family: $font-ral;
                font-weight: 500;
                line-height: 42px;


                span {
                    font-family: "Raleway Medium";
                    font-size: 45px;
                    font-weight: 700;
                }
            }

            h2 {
                color: #333333;
                font-family: $font-ral;
                font-size: 18px;
                font-weight: 600;
                padding-top: 2em;
            }

            input {
                float: right;
            }
        }
    }

}

//Section news 
.news {

    article {
        margin: 5% 14% 10% 14%;

        h1 {
            color: #0066cc;
            font-family: $font-ral;
            font-size: 50px;
            font-weight: 500;
            letter-spacing: 1.25px;
        }
    }
}